# Python
__pycache__/
*.pyc

# Environment
.env
.venv/
venv/

# AI model weights
*.pt
*.pth
*.bin
*.safetensors

# Datasets
*.csv
*.xlsx

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# Logs
*.log